.sidenav-container {
  height: 100%;
  background-color:#0d0404;
  
}

.sidenav {
  width: 250px;
  background-color:  #e3f2fd;
  
}

.sidenav .mat-toolbar {
  background: #b1bfca;
 
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #b1bfca;
  color: black;
  font-size: 50px;
  
}

.mat-sidenav-content{
  background-color: #e3f2fd;
}
