<div mat-dialog-content class="mailboxImgs">
    <img src="/assets/benchscreenshot.png" alt="bench img">
    <h2>In engine shot of the Bench</h2>
    <img src="/assets/benchwire.jpg" alt="bench img">
    <h2>Wireframe of the bench</h2>
    <img src="/assets/benchflats.png" alt="mailbox img">
    <h2>Texture flats for the sides of the bench</h2>
    <img src="/assets/benchflats2.png" alt="mailbox img">
    <h2>Texture flats for the middle of the bench</h2>
    <img src="/assets/benchref.png" alt="mailbox img">
    <h2>Referance images</h2>
</div>


