img {
    display: block;
    width: 100%;
    height: auto;
}
h2{
    display: flex;
    text-align: center;
    justify-content: center;
    size: 10%;
}
.sketchfab-embed-wrapper{
    min-height: 90vh;
}
.mat-dialog-content {
    padding: 0px !important;
    margin: 0px !important;
}
.mailboxImgs{
    min-height: 90vh;
}