.title-toolbar{justify-content: center;background: #b1bfca;font-size: 40px;}
.body-component{background-color: #e3f2fd;}
.resumebutton{justify-content: center;display: flex;padding-top:40px;padding-bottom:40px;}
.resumebutton a{font-size: 30px;line-height: 35px;}
.mat-card-title{font-size: 30px;line-height: 35px;}
.mat-card-header{justify-content: center; text-align: center;}
.mat-card-subtitle{font-size: 25px;line-height: 30px;}
.mat-card-content{justify-content: center;;font-size: 25px;line-height: 30px;}
.resumecards{justify-content: center;align-items: center;margin-right: 0 !important;}
.resumecard{width: 100%;display: block;justify-content: center;}
.portfoliocards{margin-right: 0 !important;}

