<div id = "Welcome">
</div>
<div id="Portfolio">
  <mat-toolbar class = "title-toolbar">Portfolio</mat-toolbar>
 <mat-card>
  <mat-card-title>Mailbox</mat-card-title>
    <mat-card-content>this is the content in this card</mat-card-content>
 </mat-card>
 <mat-card>
    <mat-card-content>this is the content in this card</mat-card-content>
 </mat-card>
 <mat-card>
    <mat-card-content>this is the content in this card</mat-card-content>
 </mat-card>
</div>
<div id="Resume">
  <mat-toolbar class = "title-toolbar">Resume</mat-toolbar>
  <mat-card>
    <button mat-stroked-button>click here to download pdf</button>
  </mat-card>
</div>
<div id="PersonalProjects">
    <p>
      placeholder<br><br><br><br><br><br><br><br><br><br><br>
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
    </p>
</div>
<div id="Contact">
    <p>
      placeholder
      placeholder
      placeholder<br><br><br><br><br><br><br><br><br><br><br>
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
    </p>
</div>
