.title-toolbar{justify-content: center;background: #b1bfca;}
.body-component{background-color: #e3f2fd;}
.resumebutton{justify-content: center;display: flex;padding: 20px;}
.resumecards{justify-content: center;}
