<div id = "Welcome">
    <p>
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder<br><br><br><br><br><br><br><br><br><br><br>
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
    </p>
</div>
<div id="Portfolio">
    <p>
      placeholder
      placeholder
      placeholder<br><br><br><br><br><br><br><br><br><br><br>
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
    </p>
</div>
<div id="Resume">
    <p>
      placeholder
      placeholder<br><br><br><br><br><br><br><br><br><br><br>
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
    </p>
</div>
<div id="PersonalProjects">
    <p>
      placeholder<br><br><br><br><br><br><br><br><br><br><br>
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
    </p>
</div>
<div id="Contact">
    <p>
      placeholder
      placeholder
      placeholder<br><br><br><br><br><br><br><br><br><br><br>
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
      placeholder
    </p>
</div>
