<div id = "Welcome">
</div>
<div id="Portfolio">
  <mat-toolbar class = "title-toolbar">Portfolio</mat-toolbar>
  
  <div class="portfoliocards"fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
      <mat-card>
        <mat-card-header>
        <mat-card-title mat>Mailbox</mat-card-title>
      </mat-card-header>
        <img mat-card-image class = "portfolioimg" src="/assets/mailbox-thumbnail.png" alt="mailbox img">
        <mat-card-content>
          <p>Mailbox made as a part of street furnature asset pack</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
      <mat-card>
        <mat-card-header>
        <mat-card-title mat>Park Bench</mat-card-title>
      </mat-card-header>
        <img mat-card-image class = "portfolioimg" src="/assets/benchthumbnail.png" alt="mailbox img">
        <mat-card-content>
          <p>Mailbox made as a part of street furnature asset pack</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
      <mat-card>
        <mat-card-header>
        <mat-card-title mat>Trench</mat-card-title>
      </mat-card-header>
        <img mat-card-image class = "portfolioimg" src="/assets/trenchport.png" alt="mailbox img">
        <mat-card-content>
          <p>Trench made as a part of a class</p>
        </mat-card-content>
      </mat-card>
    </div>
    </div>
  
</div>
<div id="Resume">
  <mat-toolbar class = "title-toolbar">Resume</mat-toolbar>
    <div class = "resumebutton">
      <a mat-stroked-button href="/assets/Miholics_Resume_Oct2022.pdf" target="_blank" >Click Here to Download PDF</a>
    </div>
    <div>
      <div class="resumecards"fxLayout="column wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
          <mat-card>
            <mat-card-header>
            <mat-card-title mat>Web Devolpment Co-op - Southeastern Pensylvania Transportatioy Authority</mat-card-title>
            <mat-card-subtitle>03/2022 - 09/2022, Philadelphia PA</mat-card-subtitle>
          </mat-card-header>
            <mat-card-content>
              <ul>
                <li>Helped transition SEPTA's main website, septa.org, to WordPress</li>
                <li>Daily updates to SEPTA's homepage as well as alerts and advisories for SEPTA's 100+ transit routes</li>
                <li>Helped edit and publish online content for a major brand deal for SEPTA's first station in 25 years</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
          <mat-card>
            <mat-card-header>
            <mat-card-title mat>Game Developer - Drexel University</mat-card-title>
            <mat-card-subtitle>03/2021 - 09/2021, Philadelphia PA</mat-card-subtitle>
          </mat-card-header>
            <mat-card-content>
              <ul>
                <li>Worked with a team of eight using Perforce to create and store assets for use by other students</li>
                <li>Created and reported progress on twenty versions of game- ready assets in a timely manner</li>
                <li>Lowered production time between iterations by around 3 hours</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
          <mat-card>
            <mat-card-header>
            <mat-card-title mat>Lead Server/Bartender - The Club At Shannondell</mat-card-title>
            <mat-card-subtitle>12/2018 - 03/2022, Valley Forge PA</mat-card-subtitle>
          </mat-card-header>
            <mat-card-content>
              <ul>
                <li>Took over 40 calls a shift during contactless service</li>
                <li>Maintain relations with residents while providing quick and friendly service</li>
                <li>Train new employees over five shifts regarding dining room conduct and procedures</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
        </div>
    </div>
    
  
</div>
<div id="PersonalProjects">
  <mat-toolbar class = "title-toolbar">Personal Projects</mat-toolbar>
    <<div class="portfoliocards"fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card>
          <mat-card-header>
          <mat-card-title mat>Mailbox</mat-card-title>
        </mat-card-header>
          <img mat-card-image class = "portfolioimg" src="./assets/mailbox-thumbnail.png" alt="mailbox img">
          <mat-card-content>
            <p>Mailbox made as a part of street furnature asset pack</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card>
          <mat-card-header>
          <mat-card-title mat>Mailbox</mat-card-title>
        </mat-card-header>
          <img mat-card-image class = "portfolioimg" src="./assets/mailbox-thumbnail.png" alt="mailbox img">
          <mat-card-content>
            <p>Mailbox made as a part of street furnature asset pack</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card>
          <mat-card-header>
          <mat-card-title mat>Mailbox</mat-card-title>
        </mat-card-header>
          <img mat-card-image class = "portfolioimg" src="./assets/mailbox-thumbnail.png" alt="mailbox img">
          <mat-card-content>
            <p>Mailbox made as a part of street furnature asset pack</p>
          </mat-card-content>
        </mat-card>
      </div>
      </div>
</div>
<div id="Contact">
  <mat-toolbar class = "title-toolbar">Contacts</mat-toolbar>
    <a>put socials links here</a>
</div>
